body {
  background: #282c34 !important;
  font-size: calc(10px + 2vmin);
  color: white !important;
  width: 85% !important;
  margin: 0 auto !important;
  margin-top: 60px !important;
  text-align: center !important;
}